.idea/*
.idea/codeStyles/*
.idea/codeSyles/Project.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
*.iml
target/
out/*
.classpath
.checkstyle
.pmd
.pmdruleset.xml
.project
.fbExcludeFilterFile
.settings/*
/target/
.metadata
.orig
/keystore.jks
